* {
    margin: 0; 
    padding: 0;
    text-align: center;
    background-color: #ff8fab;
}
h1 {
    color: #6f1d1b;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 8rem;
    line-height: 5rem;
    background-color: #fcf6bd;
    font-size: 50px;
    

}
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    opacity: 0.5rem;
    cursor: pointer;
    background-color: crimson;
}
img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
    
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#your-score,#comp-score {
    font-size: 3rem;

}
.msg-container {
    margin-top: 2rem;
    
}
#msg  {
    background-color: #4361ee;
    color: whitesmoke;
    font-size: 1rem;
    display: inline;
    padding: 1rem;
}
